{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<p>This simple website was made to learn Python and Flask concepts. Basic Flask file structure and templates were used from Microsoft's Visual Studio 
    <a href="https://code.visualstudio.com/docs/python/tutorial-flask">tutorial</a> on Flask.</p>
    
<p>Station data is scraped from <a href="https://forecast.weather.gov">https://forecast.weather.gov</a>, 
    while office and station lists are retrieved from the <a href="https://api.weather.gov">https://api.weather.gov</a> interface.</p>
{% endblock %}