{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Make a selection for each of the below options for office <strong>{{office}}</strong></p>
<form method="POST" action="{{url_for('almanac')}}">
    <label for="office">Choose NWS office: </label>
    <select name = "office">
        <option value="{{office}}" SELECTED>{{office}}</option>
    </select>
    <label for="station">Choose NWS station: </label>
    <select name = "station">
        {% for station in stations %}
        <option value="{{station}}" {% if loop.first %} SELECTED{% endif %}>{{station}}</option>
        {%endfor %}
    </select>
    <label for="year">Choose year:</label>
    <select name = "year">
        {% for year in years %}
        <option value="{{year}}" {% if loop.first %} SELECTED{% endif %}>{{year}}</option>
        {%endfor %}
    </select>
    <label for="month">Choose month:</label>
    <select name = "month">
        {% for month in months %}
            <option value="{{month}}" {% if loop.first %} SELECTED{% endif %}>{{month}}</option>
        {%endfor %}
    </select>
    <input type="submit">
</form>
{% endblock %}